<a href="https://colab.research.google.com/github/luqmantalha/Data-Analysis-and-Visualization/blob/main/data_Analytics_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = {'patientid':[1,2,3,4,5],
        'age':[25,30,None,40,50],
        'bp':[120,None,110,140,None]}
df=pd.DataFrame(data)
print(df)

   patientid   age     bp
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  110.0
3          4  40.0  140.0
4          5  50.0    NaN

In [4]:
df['age'].fillna(df['age'].mean(),inplace=True)
print(df)

   patientid    age     bp
0          1  25.00  120.0
1          2  30.00    NaN
2          3  36.25  110.0
3          4  40.00  140.0
4          5  50.00    NaN

/tmp/ipython-input-2644800082.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(),inplace=True)

In [ ]:
df['age'].fillna(df['age'].mode(),inplace=True)
print(df)

In [5]:
import pandas as pd
data = {'bp':[120,None,None,150,160]}
df=pd.DataFrame(data)
df['bp'].fillna(method='ffill',inplace=True)
print(df)

      bp
0  120.0
1  120.0
2  120.0
3  150.0
4  160.0

/tmp/ipython-input-1868175238.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bp'].fillna(method='ffill',inplace=True)
/tmp/ipython-input-1868175238.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['bp'].fillna(method='ffill',inplace=True)

In [10]:
import pandas as pd
sales = pd.DataFrame({
    'OrderID':[1,2,3,4,],
    'Product':['mobile','laptop','tablet','mobole',],
    'Amount':[20000,50000,20000,15000,]})
print(sales.duplicated())
sales_df = sales.drop_duplicates()
print(sales)

0    False
1    False
2    False
3    False
dtype: bool
   OrderID Product  Amount
0        1  mobile   20000
1        2  laptop   50000
2        3  tablet   20000
3        4  mobole   15000

In [14]:
import pandas as pd
data2 = {'patientid':[1,2,3,4,5,4],
        'age':[25,30,50,40,50,40],
        'bp':[120,110,110,140,90,130]}
patient_df = pd.DataFrame(data2)
print(patient_df.duplicated())
df2=patient_df.drop_duplicates()
print(df2)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
   patientid  age   bp
0          1   25  120
1          2   30  110
2          3   50  110
3          4   40  140
4          5   50   90
5          4   40  130