In [1]:
import pandas as pd

my_list = [1, "hello", 3.14, True]
print(f"List: {my_list}")

my_tuple = (10, "world", False)
print(f"Tuple: {my_tuple}")

my_dictionary = {
    "name": "shaheed",
    "age": 20,
    "city": "Warangal"
}
print(f"Dictionary: {my_dictionary}")

data = {
    'Name': ['Luqman', 'Kiran', 'Sathish', 'Bunny'],
    'Age': [25, 30, 35, 28],
    'City': ['Karimnagar', 'Hyderabad', 'Husnabad', 'Adilabad']
}
my_dataframe = pd.DataFrame(data)
print("\nDataFrame:")
print(my_dataframe)

List: [1, 'hello', 3.14, True]
Tuple: (10, 'world', False)
Dictionary: {'name': 'shaheed', 'age': 20, 'city': 'Warangal'}

DataFrame:
      Name  Age        City
0   Luqman   25  Karimnagar
1    Kiran   30   Hyderabad
2  Sathish   35    Husnabad
3    Bunny   28    Adilabad